
@{
    Layout = null;
    ViewData["Title"] = "SignUp";

}
<link href="~/css/login.css" rel="stylesheet" />
<section>
    <h1>Crie sua conta!</h1>
    <form>
        <input type="text" placeholder="Username" id="username" />
        <input  type="email" placeholder="Email" id="email"/>
        <input type="password" placeholder="Senha" id="password" />
        <input type="password" placeholder="Confirmação da Senha" id="passwordConfirm" />
        <button type="submit" onclick="signUp(event)">Criar</button>
    </form>
</section>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="~/js/signup.js"></script>
